{% extends "layout.html" %}
{% block title %}Broadcast App{% endblock %}

{% block javascripts %}
<script src="{{ MEDIA_URL }}broadcast/js/jquery.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}broadcast/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}broadcast/js/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}broadcast/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}broadcast/js/jquery.multiselect.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}broadcast/js/broadcast.groupscontacts.table.js" type="text/javascript"></script>



<script type="text/javascript" charset="utf-8"> 

$(document).ready(function() {
    //////////////////////////////////////////
    ///////////////Form Logic/////////////////
    var show_contacts = {{ show_contacts }};
    init_groups_and_contacts_tables(show_contacts)

    if(!show_contacts){
        $('#contacts_table').hide()
        $('#contacts_holder').hide()
        $('#groups_table').css('width','100%');
        $('#groups_holder').css('width','100%');
        $('#groups_table_wrapper').css('width','100%');

    }
    $('#id_contacts').parent().parent().hide()
    $('#id_groups').parent().parent().hide()


} );
</script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
		<style type="text/css" title="currentStyle">
			@import "{{ MEDIA_URL }}broadcast/css/demo_page.css";
			@import "{{ MEDIA_URL }}broadcast/css/demo_table.css";
			@import "{{ MEDIA_URL }}broadcast/css/demo_table_jui.css";
            @import "{{ MEDIA_URL }}broadcast/css/broadcast.css";
		</style> 
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}broadcast/css/jquery-ui-1.8.6.custom.css" />
		<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}broadcast/css/broadcast.css" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}broadcast/css/jquery.multiselect.css" />
{% endblock %}

{% block content %}


<div id="tables_holder">
    <div id="info"><p><b>Select the contacts and/or groups that you would like to broadcast the message to.</b></p></div>
    
<div id="contacts_holder" class="module">
<h2>Contacts List</h2>
    <div class="toolbar">
        Search: <input id="contacts_search_box" type="text" />
    </div>
</div>

<div id="groups_holder" class="module">
<h2>Groups List</h2>
    <div class="toolbar">
        Search: <input id="groups_search_box" type="text" />
    </div>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="contacts_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Language</th>
            <th>Groups</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5" class="dataTables_empty">Loading data from server</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Language</th>
            <th>Groups</th>
        </tr>
    </tfoot>
</table>


<table cellpadding="0" cellspacing="0" border="0" class="display" id="groups_table">
    <thead>
        <tr>
            <th>ID</th>
            <th width="10%">Name</th>
            <th width="15%">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5" class="dataTables_empty">Loading data from server</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </tfoot>
</table>
<div id="info"></div>
</div>
    
<div id="broadcast_controls" class="module">
    <h2>Add New Schedule</h2>

    <div id="form_holder">
        <form method="POST" action="." id="broadcast_form">
            {% csrf_token %}
            <table class="form_elements">
            {{ form.as_table }}
            {{ form.errors }}
            </table>
        <input type=submit value="Send Message">
        </form>
    </div>
</div>

{% endblock %}














