[program:%(name_0)s-router]
process_name=%%(program_name)s
command=%(virtualenv_root)s/bin/python %(code_root)s/%(project)s/manage.py runrouter --settings=%(settings_0)s
directory=%(code_root)s/%(project)s
user=%(sudo_user)s
autostart=true
autorestart=true
stdout_logfile=%(log_dir)s/%%(program_name)s.log
redirect_stderr=true
stderr_logfile=%(log_dir)s/%%(program_name)s.error.log

[program:%(name_0)-server]
process_name=%%(program_name)s
command=%(virtualenv_root)s/bin/gunicorn_django %(settings_0)s --bind 127.0.0.1:9001 --preload -w 3 --log-file %(log_dir)s/%(project)s.gunicorn.%(name_0)s.log --log-level debug -k gevent
directory=%(code_root)s/%(project)s
user=%(sudo_user)s
autostart=true
autorestart=true
stdout_logfile=%(log_dir)s/%(name_0)s-gunicorn.log
redirect_stderr=true
stderr_logfile=%(log_dir)s/%(name_0)s-gunicorn.error.log

[program:%(name_1)s-router]
process_name=%%(program_name)s
command=%(virtualenv_root)s/bin/python %(code_root)s/%(project)s/manage.py runrouter --settings=%(settings_1)s
directory=%(code_root)s/%(project)s
user=%(sudo_user)s
autostart=true
autorestart=true
stdout_logfile=%(log_dir)s/%%(program_name)s.log
redirect_stderr=true
stderr_logfile=%(log_dir)s/%%(program_name)s.error.log

[program:%(name_0)-server]
process_name=%%(program_name)s
command=%(virtualenv_root)s/bin/gunicorn_django %(settings_1)s--bind 127.0.0.1:9002 --preload -w 3 --log-file %(log_dir)s/%(project)s.gunicorn.%(name_1)s.log --log-level debug -k gevent
directory=%(code_root)s/%(project)s
user=%(sudo_user)s
autostart=true
autorestart=true
stdout_logfile=%(log_dir)s/%(name_1)s-gunicorn.log
redirect_stderr=true
stderr_logfile=%(log_dir)s/%(name_1)s-gunicorn.error.log

[group:router]
programs=%(name_0)s-router,%(name_1)s-router

[group:server]
programs=%(name_0)s-server,%(name_1)s-server
