#inner .col-1 { width: 40%; }
#inner .col-2 { width: 60%; }

table#broadcasts {
    width: 100%
}

form#broadcast-form {
    padding: 1em;
}

.form-action {
    text-align: right;
    padding-bottom: 1em;
}

form#broadcast-form table td, form#broadcast-form table th {
    border: none;
}

