# vim: ai ts=4 sts=4 et sw=4
from rapidsms.contrib.handlers.handlers.keyword import KeywordHandler


class AbcHandler(KeywordHandler):
    
	keyword = "abc" #THIS CAN BE A REGULAR EXPRESSION!

	def help(self):
		self.respond("Here is some help.")
    
    def handle(self, text):
        """
        Handling a message that matches the keyword goes here.
        The keyword at the beginning of the message and the result is stored
        in the 'text' keyword argument of this function.
        
        To let the system know that the message has succesfully been handled
        the function needs to return True (usually by using something like
        return self.respond('some message here')
        
        If the message wasn't handled and you want it to continue onto some other handler
        return without a value (ie just return or let the function finish with no return
        statement)
        """
        
        self.respond("You said: %s." % text)
        