{% extends "layout-split-2.html" %}
{% load setting %}

{% block javascripts %}
    {{ block.super }}
    {% include 'afrims/_javascripts.html' %}
{% endblock %}

{% block page_tabs %}
    {{ block.super }}
    <form action="/i18n/setlang/" method="post" id="language-select-form">
    {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <label id="lang-selector-label">Language: </label>
        <select name="language" id="lang-selector">
        {% for lang in LANGUAGES %}
        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected" {% endif %}>{{ lang.1 }}</option>
        {% endfor %}
        </select>
{#        <input type="submit" value="Go" />#}
    </form>
{% endblock %}



{% block stylesheets %}
    {{ block.super }}
    {% include 'afrims/_css.html' %}
{% endblock %}

{% block footer %}
{{ block.super }}
Last commit: {% setting "GIT_LAST_COMMIT" %}
{% endblock %}
