{% extends "layout-split-2.html" %}
{% load setting %}

{% block javascripts %}
    {{ block.super }}
    {% include 'afrims/_javascripts.html' %}
{% endblock %}

{% block header %}
    {{ block.super }}
    <form action="/i18n/setlang/" method="post">
    {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <select name="language">
        {% for lang in LANGUAGES %}
        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
    Code is {{ LANGUAGE_CODE }}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% include 'afrims/_css.html' %}
{% endblock %}

{% block footer %}
{{ block.super }}
Last commit: {% setting "GIT_LAST_COMMIT" %}
{% endblock %}
