{% extends "groups/base.html" %}
{% load pagination_tags sorting_tags %}

{% block title %}Groups{% endblock %}

{% block content %}

<div class='module'>
    <h2>Groups</h2>
    <p><a class='button add' title='Add group' href="{% url create-group %}" >Add group...</a></p>
    {% autosort groups %}
    {% autopaginate groups 15 %}
    <table class='sortable pagination'>
        <thead>
            <tr>
                <th>{% anchor id ID %}</th>
                <th>{% anchor name Name %}</th>
                <th>{% anchor count "# Recipients" %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ group.pk }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.count }}</td>
                    <td class='actions'>
                        {% if group.is_editable %}
                            <a class='button' title='Edit {{ group.name }}' href='{% url edit-group group.pk %}'><span class='ui-icon ui-icon-pencil'></span></a>
                            <a class='button' title='Delete {{ group.name }}' href='{% url delete-group group.pk %}'><span class='ui-icon ui-icon-closethick'></span></a>    
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if paginator.count > paginator.per_page %}
            <tr>
                <td colspan='4'>
                    {% paginate %}
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
</div>
{% endblock %}
