{% extends "afrims/layout-split-2.html" %}

{% block title %}Appointment Reminders{% endblock %}

{% block javascripts %}{{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/forms.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}reminders/js/reminders.js" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}{{ block.super }}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}reminders/css/reminders.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/afrims.css" />
{% endblock %}

{% block left %}
<div class="module">
<h2>Appointment Reminders</h2>

<table id='reminder_report' class='sortable'>
    <tr>
        <th>Unsent Reminders:</th><td>{{ reminder_report.queued }}</td>
    </tr>
    <tr>
        <th>Sent and Unconfirmed:</th><td>{{ reminder_report.sent }}</td>
    </tr>
    <tr>
        <th>Sent and Confirmed:</th><td>{{ reminder_report.confirmed }}</td>
    </tr>
</table>
</div>

<div class="module">
<h2>Reminder Message</h2>
<div id='reminder_sample_message'>
"You have an appointment with the clinic on March 16th.  Please reply '1' to confirm 
receipt of this message, or call 1 888 343 3433 if you have any questions."
</div>
</table>
</div>

{% endblock %}

{% block right %}
{% load pagination_tags sorting_tags %}

{% autosort notifications %}
{% autopaginate notifications 15 %}
<div class="module">
    <h2>Notification Schedule</h2>
    <p><a class='button add' title='Add Notification Schedule' href="{% url create-notification %}" >Add notification schedule...</a></p>
    <table id='notifications' class="pagination sortable">
        <thead>
            <tr>
                <th>{% anchor num_days "Reminder Schedule" %}</th>
                <th>{% anchor time_of_day "Time of Day" %}</th>
                <th>{% anchor recipients "Recipients" %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for notification in notifications %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ notification.get_num_days_display }}</td>
            <td>{{ notification.formatted_time }}</td>
            <td>
                {{ notification.get_recipients_display }}
            </td>
            <td class='actions'>
                <a class='button' title='Edit notification #{{ notification.pk }}' href='{% url edit-notification notification.pk %}'><span class='ui-icon ui-icon-pencil'></span></a>
                <a class='button' title='Delete notification #{{ notification.pk }}' href='{% url delete-notification notification.pk %}'><span class='ui-icon ui-icon-closethick'></span></a>    
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='6'>No notification schedules</td>
        </tr>
        {% endfor %}
        <tfoot>
            {% if paginator.count > paginator.per_page %}
            <tr>
                <td colspan='4'>
                    {% paginate %}
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
</div>
{% endblock %}
