/* afrims.css
 * base style sheet included on all pages
 */

/* django messages */

ul.messages {
    margin: 0;
    padding: 0;
}

ul.messages li {
    list-style-type: none;
    padding: 1em;
    margin: 0.5em;
}

ul.messages li.info {
    background-color: #FFFF99;
    border: 1px solid #FFFF66;
}

/* forms */

.form-action {
    text-align: left;
    padding-bottom: 1em;
    padding-top: 1em;
}

form.buttons .form-action {
    margin-right: 1em;
}

form p.message {
    margin-top: 0;
    padding-left: 1em;
    padding-top: 1em;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

ul.errorlist li {
    list-style-type: none;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: #FF7D7D;
    border: 1px solid #A33B3B;
}

form.buttons ul {
    margin: 0;
    padding: 0;
}

form.buttons ul li {
    list-style-type: none;
}

form.buttons td ul.selectable-deck {
    margin-top: 1em;
}

form.buttons td ul.selectable-deck li {
    padding-left: 0;
}

form.buttons th {
    padding-top: 0.9em;
    vertical-align: top;
}

form.buttons .ui-widget-content {
    padding: 0.2em;
}

form.buttons table td, form.buttons table th {
    border: none;
}

select.horitzonal-multiselect {
    width: 500px;
    height: 200px;
}

body:last-child h2 + form.buttons {
    padding-top: 1em;
    padding-left: 1em;
}

form#message-tester {
    border: none;
}

/* tables */

table.pagination tfoot tr td div.pagination {
    padding: 1em;
}

table.pagination tfoot tr td div.pagination a, table.pagination tfoot tr td div.pagination span {
    display: inline;
    float: none;
}

table.sortable tbody tr.odd {
    background: #F3F8FD;
}

table.sortable td.actions .ui-button-text-only .ui-button-text {
    padding: 2px;
}

#language-select-form {
    float: left;
    border: 0px;
    top: -2px;
    right: 130px;
    margin: 0px;
    padding: 0px;
    font-size: 80%;
    position: absolute;
    line-height: 22px;
}

#branding h1 {
    background: no-repeat 100% 50%;
    height: 65px;
    color: #fff;
    margin: 0;
}

#lang-selector-label {
    color: white;
    line-height: 22px;
}